/* Reset default browser styles */
body, h1, h2, h3, h4, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Global styles */
body {
    background-color: #f0f0f0;
    color: #333;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

header img {
    display: block;
    width: 100%;
    max-width: 100%;
}

aside {
    float: right;
    width: 25%;
    padding: 20px;
}
.sidebar {
    width: 175px; /* Adjust width as needed */
    background-color: #f4f4f4;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: auto; /* Enable scrolling if content exceeds sidebar height */
}

.portlet {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.portlet h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}



main {
    float: left;
    width: 70%;
    padding: 20px;
}

footer {
    clear: both;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links li a {
    color: #fff;
    text-decoration: none;
}
